@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
* {
    font-family: 'Roboto', sans-serif !important;
}

/* Site styles */
.container {
    margin-top: 100px;
    padding: 0;
}
p {
    font-size: 14px;
}
.container p.container-intro {
    font-weight: 500 !important;
}
.container.first {
    border-top: 1px solid rgba(0,0,0,0.64);
}
.container .row {
    padding: 40px 0 40px 0;
}

/* Graph styles*/
.axis {
    font: 15px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 1.5px;
    shape-rendering: crispEdges;
}
#chart {

    top: 50px;
    left: 100px;
}

.toolTip {
    pointer-events: none;
    position: absolute;
    display: none;
    min-width: 50px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    padding: 9px 14px 6px 14px;
    border-radius: 2px;
/*    text-align: center;*/
    line-height: 1.3;
    color: #5B6770;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
}
.toolTip:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid white;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -12px;
}
.toolTip span {
    font-weight: 500;
    color: #081F2C;
}

g.category {
    cursor: pointer;
}

p.authors {
    font-size: 12px;
}

#summaryHeader {
    margin-top: 20px;
}