@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

/* Colors */

.primary-color {
    color: #d73534;
}

body {
    font-family: 'Roboto', sans-serif !important;
}

p {
    font-size: 16px !important;
    line-height: 23px !important;
    font-weight: 300;
    color: black;
}

.serif {
    font-family: 'Playfair Display', serif !important;
}

p.authors {
    font-size: 12px;
}

h1 {
    font-size: 2em;
    line-height: 2.844rem;
}

h2 {
    font-size: 1.5em;
    line-height: 2.844rem;
}

h3 {
    font-size: 1.17em;
    line-height: 2.844rem;
}

h4 {
    font-size: 1.12em;
    line-height: 2.844rem;
}

h5 {
    font-size: .83em;
    line-height: 2.844rem;
}

h6 {
    font-size: .75em;
    line-height: 2.844rem;
}

p.authors {
    font-size: 12px !important;
}

.large {
    font-size: 24px;
}

button {
    padding: 8px 12px 8px 12px;
    font-size: 14px;
    background: white;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: rgba(0, 0, 0, 0.03);
}

.button-continue {
    margin-top: 30px;
    z-index: 99;
}

.text-extras {
    margin-right: 0px;
    margin-top: 50px;
    font-size: 14px !important;
    max-width: 320px;
    text-align: left;
}
.text-extras p{
       font-size: 14px !important;
       line-height: 18px !important;
}
.button-continue.read-on {
    /*    position: absolute;
    margin: 0 auto;
    left: 50%;
    margin-left: -38px;
    top: 50%;*/
    margin: 0 auto;
    margin-top: 20px;
}

.fingerprint {
    z-index: 0;
}

.fingerprint i {
    font-size: 1000px;
    position: absolute;
    top: 20px;
    right: -300px;
    float: center;
    color: rgba(0, 0, 0, 0.03);
    z-index: 0;
}

img {
    width: auto;
    max-height: 400px;
}

#imageContainer {
    position: relative;
}


/* Site styles */

.container {
    margin-top: 100px;
    padding: 0;
}

p {
    font-size: 14px;
}

.container p.container-intro {
    font-weight: 500 !important;
}

.container.first {
    border-top: 1px solid rgba(0, 0, 0, 0.64);
}

.container .row {
    padding: 40px 0 40px 0;
}


/* Graph styles*/

.axis {
    font: 15px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 1.5px;
    shape-rendering: crispEdges;
}

path {
    stroke: #11a;
}
#chart {
    top: 50px;
    left: 100px;
}

.toolTip {
    pointer-events: none;
    position: absolute;
    display: none;
    min-width: 50px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    padding: 9px 14px 6px 14px;
    border-radius: 2px;
    /*    text-align: center;*/
    line-height: 1.3;
    color: #5B6770;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
}

.toolTip:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid white;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -12px;
}

.toolTip span {
    font-weight: 500;
    color: #081F2C;
}

g.category {
    cursor: pointer;
}

#summaryHeader {
    margin-top: 20px;
}
